mixin header(fraze, shop)
  h3 Товары по запросу "#{fraze}" для #{shop}

mixin nullFraze(fraze, typeShop)
  p Для поисковой фразы #{fraze} на #{typeShop == 'cg' ? 'читай-городе' : 'лабиринте'} нет товаров!!!

mixin newOutput(fraze, cgItem, lbItem)
  h2 Новые товары по запросу "#{fraze}"

  .shop-results
    if shops[cgItem] && shops[cgItem].length
      div(id=`shop-results-cg-${fraze}`)
        +outputCgShop(fraze, 'читай-города', shops[cgItem])

    if shops[lbItem] && shops[lbItem].length
      div(id=`shop-results-lb-${fraze}`)
        +outputLbShop(fraze, 'лабиринта', shops[lbItem])

mixin output(fraze, cgItem, lbItem, severalShop = true)
  h2 Запрос "#{fraze}"

  if severalShop
    ul
      li
        a(href=`#shop-results-cg-${fraze}`) Товары на читай-городе
      li
        a(href=`#shop-results-lb-${fraze}`) Товары на лабиринте

  .shop-results
    div(id=`shop-results-cg-${fraze}`)
      +outputCgShop(fraze, 'читай-города', shops[cgItem])

    div(id=`shop-results-lb-${fraze}`)
      +outputLbShop(fraze, 'лабиринта', shops[lbItem], severalShop)

mixin outputCgShop(fraze, nameShop, shop)
  +header(fraze, nameShop)

  if !shop
    +nullFraze(fraze, 'cg')
  else 
    div Всего #{shop.length} товаров
    .item-wrap
      each val in shop
        +cg(val)

mixin outputLbShop(fraze, nameShop, shop, severalShop)
  +header(fraze, nameShop)

  if severalShop
    ul
      li
        a(href=`#shop-results-cg-${fraze}`) Товары на читай-городе

  if !shop
    +nullFraze(fraze, 'lb')
  else 
    div Всего #{shop.length} товаров 
    .item-wrap
      each val in shop
        +lb(val)

mixin cg(val)
  .item
    a(href=`${val.url}` class="item-img" target="_blank") 
      img(src=`${val.picture}`)
    .item-description
      h3
        a(href=`${val.url}` target="_blank") #{val.title}
      p 
        b Автор: 
        each author in val.bookAuthors
          | #{author} 
      p= val.description
      p 
        b Страниц: 
        | #{val.pages}
      p 
        b Опубликовано: 
        | #{val.yearPublishing}
      p 
        b Издательство: 
        | #{val.publisher}
      p 
        b Цена: 
        | #{val.price} руб

mixin lb(val)
  .item
    a(href=`${val.url}` class="item-img" target="_blank") 
      img(src=`${val.picture}`)
    .item-description
      h3
        a(href=`${val.url}` target="_blank") #{val.title}
      p
        b Издательство: 
        | #{val.publisher}
      p 
        b Цена: 
        | #{val.price} руб
      p 
        b Старая цена: 
        | #{val.priceOld} руб